# Nome deste no
NODE_NAME=No_A

# Porta UDP para comunicacao P2P
UDP_PORT=5000

# Porta HTTP para a interface web
HTTP_PORT=8000

# Vizinho 1
NEIGHBOR_1_NAME=No_B
NEIGHBOR_1_IP=<IP_PRIVADO_EC2_B>
NEIGHBOR_1_PORT=5000

# Vizinho 2
NEIGHBOR_2_NAME=No_C
NEIGHBOR_2_IP=<IP_PRIVADO_EC2_C>
NEIGHBOR_2_PORT=5000
